.body, .html {
    height: 100vh;
}


.bg-image {
background-image: url(./aaron-burden-2-unsplash.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: auto;
}   

